@font-face {
	font-family: 'Furore',
	src: url("../fonts/furore.ttf");
	font-style: normal; 
	font-weight: normal;
}

body {
	font-family: 'Roboto', Sans-serif;
	font-size: 14px;
	margin: 0;
	line-height: 1.6;
	color: #000;
	background-color: #fff
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	font-family: 'Furore', arial;
	font-size: 1.5rem;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 0;
	border-bottom: 1px solid #515369;

}

.header__logo {
	text-decoration: none;
	color: #000;

}

.nav {
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	position: relative;
    margin-left: 50px;
    font-weight: 300;
    color: #000;
    text-decoration: none;

    transition: color 0.1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
	color: #ffd800;
}


.nav__link.active {
    color: #fce38a;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(http://via.placeholder.com/640x360) center no-repeat;
	padding-top: 100px;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__suptitle {
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
}

.new__videos {
	text-align: center;
}